body {
    font-family: "Calibri", "Arial", Sans-serif;
    color: #eee;
    background-color: #440d0d;
}

h1 {
    color: #fcc;
    margin-bottom: -0.5em;
}

h2 {
    color: #faa;
    font-size: 1.25em;
}

h3 {
    color: #faa;
    font-size: 1em;
    margin-bottom: -0.25em;
}

b {
    color: #f88;
}

a {
    color: #f55;
}

.card {
    background-color: #111;
    display: flex;
    width: 80%;
    margin: 2% 10% 2% 10%;
}

.text-content {
    margin: 0 5% 0 5%;
}

#header {
    height: 25em;
}

#header-title {
    margin-bottom: 2em;
}

#header-photo {
    object-fit: scale-down;
    max-width: 30%;
    max-height: 100%;
}

#header-content {
    object-fit: contain;
    width: 70%;
}

footer {
    text-align: center;
}